<h1>Goals</h1>
<%= link_to 'Add Goal', new_user_goal_path(@user) %>

<% if @goals.blank? %>
    <h4>You do not currently have any goals</h4>
<% else %>
    <%= render @goals %>
<% end %>

<%= paginate @goals %>