<h1>Goals</h1>
<% if can? :create, Goal.new(user: @user) %>
    <%= link_to 'Add Goal', new_user_goal_path(@user) %>
<% end %>

<% if @goals.blank? %>
    <h4>You do not currently have any goals</h4>
<% else %>
    <%= render @goals %>
<% end %>

<%= paginate @goals %>